.container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100dvh;
    width: 100%;
    padding: var(--space-2);
    max-width: 800px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    list-style-type: none;
}